.container{
    min-width: 700px;
    max-width: 1000px;
    margin: 0 auto;
}
body{
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #171717;
    text-align: left;
}
div{
    margin-bottom: 20px;
}
label{
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
}
input, select{
    width: 390px;
    height: 40px;
}
.red {
    color: #D83933;
}
.information > h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.information > p{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}
h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.form_flex{
    display: flex;
    justify-content: space-between;
}
.first_column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.apllication_processed{
    display: flex;
    align-items: center;

}
.second_column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.checkbox-center{
    /* display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center; */
    padding-top: 135px;
}

.apllication{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}
/* checkbox: label custimize*/
.checkbox-label {
    /* display: flex; */
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 33px;
    padding-top: 3px;
}
/* Hide the browser's default checkbox */
.checkbox-label input {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}
/* Create new custom checkbox */
.check{
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #adadad;
    border-radius: 4px;
}
/* When the checkbox is checked, add a background */
.checkbox-label input:checked~.check{
    background-color: #FF00FF;
}
/* Show the checkmark when checked */
.checkbox-label input:checked~.check {
    display: block;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-label input:checked~.check:after{
    content: url(../images/icon2.svg);
    padding-left: .3em;
    border: 1px solid #FF00FF;
}
/* Background images for input */
.calendar{
    background: url(../images/calendar-line.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #EFEFEF;
}
.non-active{
    background: url(../images/arrow-down-s-line.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.search {
    background: url(../images/search-line.png);
    background-repeat: no-repeat;
    background-position: right center;
}

#registration_app{
    color: #0050D8;
}
/* Second section */
.maternity_flex{
    display: flex;
    justify-content: space-between;
}
/* official use */
.official_flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
/* Sys information */
.system_information{
    position: relative;
    margin-bottom: 150px;
}
.system_information_flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#owner{
    color: #0050D8;
}
/* Button */
#submit_btn{
    position: absolute;
    bottom: -50px;
    right: 0;
    width: 70px;
    height: 40px;
    border-radius: 4px;
    background-color: #0050D8;
    color: #fff;
}